<div class="container">
  <h2>Gestion</h2>
  <p> Cette variable regroupe trois types d'activités</p>
  <span class="question">Est ce que la personne prépare seule les repas et les conditionne pour qu'ils soient servis ?</span>
  <div class="checkbox">
    <div>
      <input type="radio" id="oui" name="cuisine"  (change)="openDialog()">
      <label for="oui">Oui</label>
    </div>
    <div>
      <input type="radio" id="non" name="cuisine"  [(ngModel)]="Non" value="true" >
      <label for="non">Non</label>
    </div>
  </div>
  <button mat-button color="primary" (click)="goToTabs()"> Suivant </button>
</div>
