<div class="container">
  <h2>3. Habillage du bas</h2>
  <span class="question">Est ce que la personne s'habille seule du bas?</span>
  <div class="checkbox">
    <div>
      <input type="radio" id="oui" name="habBas"  (change)="openDialog()">
      <label for="oui">Oui</label>
    </div>
    <div>
      <input type="radio" id="non" name="habBas"  [(ngModel)]="Non" value="true" >
      <label for="non">Non</label>
    </div>
  </div>
  <button mat-button color="primary" (click)="goToTabs()"> Suivant </button>
</div>
