<div class="container">
  <h2>Communication à distance</h2>
  <span class="question">Est ce que la personne sait utiliser un moyen de communication à distance (télephone, sonnette, alarme, télé-alarme ...) dans le but d'alerter en cas de besoin ?</span>
  <div class="checkbox">
    <div>
      <input type="radio" id="oui" name="commDist"  (change)="openDialog()">
      <label for="oui">Oui</label>
    </div>
    <div>
      <input type="radio" id="non" name="commDist" (change)="goToTabsC()" >
      <label for="non">Non</label>
    </div>
  </div>
</div>
