<mat-toolbar color="accent">
  <span routerLink="/" class="pointer">Liste des résidents</span>
  <span class="separator"> > </span> 
  <span>{{ patient.prenom }} {{ patient.nom }}</span>
  <span class="spacer"></span>
  <button (click)='createEvaluation()' mat-stroked-button>
    <mat-icon>add</mat-icon> CREER EVALUATION
  </button>
</mat-toolbar>


<mat-tab-group dynamicHeight>
  <mat-tab label="Historique">
    <div *ngIf="!evaluations || !evaluations.length">Pas d'évaluations</div>
    <div class="container">
      <div class="liste" *ngFor="let eval of evaluations; let index = index" routerLink="/recapGrille">
        <div class="circle">{{index+1}}</div> <span>Date : {{eval.date | date: 'dd/MM/yyyy HH:mm'}}</span> <span> Gir : {{eval.gir}}</span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Graphe d'évolution">
    <app-graphe></app-graphe>
  </mat-tab>
</mat-tab-group>
