<div>
<span mat-dialog-title> Est ce qu'elle le fait ?</span>
<div>
  <div class="adverbes">
    <span>Spontanément ?</span>
      <mat-slide-toggle [(ngModel)]="S"></mat-slide-toggle>

    <span>Habituellement ?</span>
      <mat-slide-toggle [(ngModel)]="H"></mat-slide-toggle>

    <span>Totalement ?</span>
      <mat-slide-toggle [(ngModel)]="T"></mat-slide-toggle>

    <span>Correctement ?</span>
      <mat-slide-toggle [(ngModel)]="C"></mat-slide-toggle>
  </div>
  <div class="bouton">
    <button mat-button mat-dialog-close> Fermer </button>
    <button mat-button (click)="onValidate()">Valider</button>
  </div>

</div>
</div>
