:host{
  display: flex;

  .adverbes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    span{
      margin-bottom: 10px;
    }
    mat-slide-toggle{
      display: flex;
      align-self: flex-end;
    }
  }
  .checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  .bouton{
    display: flex;
    justify-content: flex-end;
  }
}
