<div class="container">
  <h2>Déplacements à l'intérieur</h2>
  <span class="question">Est ce que la personne se déplace seule en intérieur ?</span>
  <div class="checkbox">
    <div>
      <input type="radio" id="oui" name="depInter"  (change)="openDialog()">
      <label for="oui">Oui</label>
    </div>
    <div>
      <input type="radio" id="non" name="depInter"  [(ngModel)]="Non" value="true" >
      <label for="non">Non</label>
    </div>
  </div>
  <button mat-button color="primary" (click)="goToTabs()"> Suivant </button>
</div>
