<mat-tab-group class="groupe" [selectedIndex]="selected" (selectedIndexChange)="goToTab($event)" dynamicHeight>
  <mat-tab label="Communication"  >
    <app-communication (adverbesEmitEvent)="adverbesCommResults($event)" (resultEmitEvent)="commResult($event)" (communicationToCoherenceEvent)="goToTab(1)"></app-communication>
  </mat-tab>
  <mat-tab label="Comportement">
    <app-comportement (adverbesEmitEvent)="adverbesCompResults($event)" (resultEventEmitter)="comportResult($event)"  (comportementToCoherenceEvent)="goToTabParent()"></app-comportement>
  </mat-tab>

</mat-tab-group>
