<div class="container">
  <h2>Gestion</h2>
  <p> Cette variable regroupe trois types d'activités</p>
  <span class="question">Est ce que la personne gére, seule, ses affaires, son buget et ses biens ?</span> <br>
  <span class="question">Est ce que la personne reconnait la valeur monétaire des pièces et des billets, se servir de l'argent et connaître la valeur des choses ?</span><br>
  <span class="question">Est ce que la personne effectue seule les démarches administratives et remplir les formulaires ?</span>
  <div class="checkbox">
    <div>
      <input type="radio" id="oui" name="gestion"  (change)="openDialog()">
      <label for="oui">Oui</label>
    </div>
    <div>
      <input type="radio" id="non" name="gestion"  [(ngModel)]="Non" value="true" >
      <label for="non">Non</label>
    </div>
  </div>
  <button mat-button color="primary" (click)="goToTabs()"> Suivant </button>
</div>
