<mat-toolbar color="accent">
  <span>Liste des résidents</span>
  <span class="spacer"></span>
  <button routerLink="/newPatient" mat-stroked-button>
    <mat-icon>add</mat-icon> AJOUTER RESIDENT
  </button>
</mat-toolbar>

<mat-list role="list">
  <mat-list-item *ngFor="let patient of patients; let index = index" (click)="goToHistoric(patient)" role="listitem">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{patient.nom}} {{patient.prenom}}</div>
      <div mat-line> {{patient.dateNaissance | date: 'dd/MM/yyyy'}} </div>
  </mat-list-item>
</mat-list>

<div *ngIf="patients.length == 0"> Pas de résidents </div>
