<h1>Evaluation AGGIR</h1>

<mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="goToTab($event)" dynamicHeight>
  <mat-tab label="Cohérence">
    <app-coherence (coherenceValeursToGrille)="recupCoherenceValeurs($event)" (finalResultEvent)="recupResultCoherence($event)" (coherenceToGrilleEvent)="goToTab(1)"></app-coherence>
  </mat-tab>
  <mat-tab label="Orientation">
    <app-orientation (finalResultEvent)="recupResultOrientation($event)" (orientationToGrilleEvent)="goToTab(2)"></app-orientation>
  </mat-tab>
  <mat-tab label="Toilette">
    <app-toilette (finalResultEvent)="recupResultToilette($event)" (toiletteToGrilleEvent)="goToTab(3)"></app-toilette>
  </mat-tab>
  <mat-tab label="Habillage">
    <app-habillage (finalResultEvent)="recupResultHabillage($event)" (habillageToGrilleEvent)="goToTab(4)"></app-habillage>
  </mat-tab>
  <mat-tab label="Alimentation">
    <app-alimentation (finalResultEvent)="recupResultAlimentation($event)" (alimentationToGrilleEvent)="goToTab(5)"></app-alimentation>
  </mat-tab>
  <mat-tab label="Elimination">
    <app-elimination (finalResultEvent)="recupResultElimination($event)" (eliminationToGrilleEvent)="goToTab(6)"></app-elimination>
  </mat-tab>
  <mat-tab label="Transferts">
    <app-transferts (finalResultEvent)="recupResultTransfets($event)" (transfertsToGrilleEvent)="goToTab(7)"></app-transferts>
  </mat-tab>
  <mat-tab label="Déplacements à l'intérieur">
    <app-deplacements-interieurs (finalResultEvent)="recupResultDeplInter($event)" (interieursTogrille)="goToTab(8)"></app-deplacements-interieurs>
  </mat-tab>
  <mat-tab label="Déplacements à l'extérieur">
    <app-deplacements-exterieurs (finalResultEvent)="recupResultDepExter($event)" (exterieursToGrilleEvent)="goToTab(9)"></app-deplacements-exterieurs>
  </mat-tab>
  <mat-tab label="Communication à distance">
    <app-communication-distance (finalResultEvent)="recupResultCommDistance($event)" (commDistToGrilleEvent)="goToTab(10)" ></app-communication-distance>
  </mat-tab>
  <mat-tab label="Gestion">
    <app-gestion (finalResultEvent)="recupResultGestion($event)" (gestionToGrilleEvent)="goToTab(11)" ></app-gestion>
  </mat-tab>
  <mat-tab label="Cuisine">
    <app-cuisine (finalResultEvent)="recupResultCuisine($event)" (cuisineToGrilleEvent)="goToTab(12)"></app-cuisine>
  </mat-tab>
  <mat-tab label="Ménage">
    <app-menage (finalResultEvent)="recupResultMenage($event)" (menageToGrilleEvent)="goToTab(13)"></app-menage>
  </mat-tab>
  <mat-tab label="Transport">
    <app-transport (finalResultEvent)="recupResultTransports($event)" (transportToGrilleEvent)="goToTab(14)"></app-transport>
  </mat-tab>
  <mat-tab label="Achat">
    <app-achat (finalResultEvent)="recupResultAchat($event)" (achatToGrilleEvent)="goToTab(15)"></app-achat>
  </mat-tab>
  <mat-tab label="Suivi du traitement">
    <app-suivi-traitement (finalResultEvent)="recupResultSuiviMed($event)" (suiviToGrilleEvent)="goToTab(16)"></app-suivi-traitement>
  </mat-tab>
  <mat-tab label="Activités de temps libre">
    <app-activites-libres (finalResultEvent)="recupResultActivitesLibres($event)"></app-activites-libres>
  </mat-tab>
</mat-tab-group>

<button mat-raised-button color="primary" (click)="createEvaluation()">Créer evaluation</button><br>
<button mat-raised-button color="primary" (click)="goBackToHistoric()">Retour</button>
