<h1>Evaluation AGGIR</h1>

<mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="goToTab($event)" dynamicHeight>
  <mat-tab label="Cohérence">
    <app-coherence (coherenceToGrilleEvent)="goToTab(1)"></app-coherence>
  </mat-tab>
  <mat-tab label="Orientation">
    <app-orientation></app-orientation>
  </mat-tab>
  <mat-tab label="Toilette">
    <app-toilette></app-toilette>
  </mat-tab>
  <mat-tab label="Habillage">
    <app-habillage></app-habillage>
  </mat-tab>
  <mat-tab label="Alimentation">

  </mat-tab>
  <mat-tab label="Elimination">

  </mat-tab>
  <mat-tab label="Transferts">

  </mat-tab>
  <mat-tab label="Déplacements à l'intérieur">

  </mat-tab>
  <mat-tab label="Déplacements à l'extérieur">

  </mat-tab>
  <mat-tab label="Communication à distance">

  </mat-tab>
</mat-tab-group>

