<h1>Evaluation AGGIR</h1>

<mat-tab-group dynamicHeight>
  <mat-tab label="Cohérence">
    <div class="container">
      <h2>1. Communication</h2>
     <span class="question">Est ce que la personne communique seule ?</span>
      <div class="checkbox">
        <div>
        <input type="checkbox" id="oui" name="oui">
        <label for="oui">Oui</label>
      </div>

        <div>
          <input type="checkbox" id="non" name="non">
          <label for="non">Non</label>
        </div>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="Orientation"> Content 2 </mat-tab>
</mat-tab-group>
