<div class="container">
  <h2>Achats</h2>
  <span class="question">Est ce que la personne effectue seule les achats nécessaires  ?</span> <br>
  <div class="checkbox">
    <div>
      <input type="radio" id="oui" name="achat"  (change)="openDialog()">
      <label for="oui">Oui</label>
    </div>
    <div>
      <input type="radio" id="non" name="achat"  [(ngModel)]="Non" value="true" >
      <label for="non">Non</label>
    </div>
  </div>
  <button mat-button color="primary" (click)="goToTabs()"> Suivant </button>
</div>
