<mat-toolbar color="accent">
  <span routerLink="/" class="pointer">Liste des résidents</span>
  <span class="separator">></span>
  <span>Ajouter un résident</span>
</mat-toolbar>

<mat-card  class="container d-flex h-100">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="patient.nom"/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput [(ngModel)]="patient.prenom"/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Date de naissance</mat-label>
    <input matInput [value]="currentDate | date: 'dd-MM-yyyy'" [(ngModel)]="patient.dateNaissance" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <div class="btnval">
    <button mat-stroked-button color="primary" routerLink="/">ANNULER</button>
    <span class="separator"></span>
    <button mat-raised-button color="primary" (click)="create()">VALIDER</button>
  </div>
</mat-card>

