<div class="modal">
<span mat-dialog-title> Est ce qu'elle le fait ?</span>
<div  mat-dialog-content>
  <div>
    <span>Spontanément ?</span>
    <div class="checkbox">
      <div>
        <input type="radio" id="oui" name="Sresponse" >
        <label for="oui">Oui</label>
      </div>
      <div>
        <input type="radio" id="non" name="Sresponse">
        <label for="non">Non</label>
      </div>
    </div>

    <span>Habituellement ?</span>
    <div class="checkbox">
      <div>
        <input type="radio" id="Houi" name="Hresponse" >
        <label for="oui">Oui</label>
      </div>
      <div>
        <input type="radio" id="Hnon" name="Hresponse">
        <label for="non">Non</label>
      </div>
    </div>

    <span>Totalement ?</span>
    <div class="checkbox">
      <div>
        <input type="radio" id="Toui" name="Tresponse" >
        <label for="oui">Oui</label>
      </div>
      <div>
        <input type="radio" id="Tnon" name="Tresponse">
        <label for="non">Non</label>
      </div>
    </div>

    <span>Correctement ?</span>
    <div class="checkbox">
      <div>
        <input type="radio" id="Coui" name="Cresponse" >
        <label for="oui">Oui</label>
      </div>
      <div>
        <input type="radio" id="Cnon" name="Cresponse">
        <label for="non">Non</label>
      </div>
    </div>
  </div>
  <div class="bouton">
    <button mat-button mat-dialog-close> Fermer </button>
    <button mat-button>Valider</button>
  </div>

</div>
</div>
