<mat-toolbar color="accent">
  <span (click)="goBackToHistoric()" class="pointer">Historique du patient</span>
  <span class="separator">></span>
  <span>Récapitulatif de la grille</span>
</mat-toolbar>

<div class="container" *ngIf="results">
  <div class="row title">
    <div class="col-sm-4">
      <span>Variables</span>
    </div>
    <div class="col-sm-4">
      <span>Adverbes</span>
    </div>
    <div class="col-sm-4">
      <span>Modalités</span>
    </div>
  </div>

  <div class="row subtitle">
    <div class="col-sm-4">
      <span></span>
    </div>
    <div class="col-sm-1">
      <span>S</span>
    </div>
    <div class="col-sm-1">
      <span>H</span>
    </div>
    <div class="col-sm-1">
      <span>T</span>
    </div>
    <div class="col-sm-1">
      <span>C</span>
    </div>
    <div class="col-sm-2">
      <span>Code sous variable</span>
    </div>
    <div class="col-sm-2">
      <span>Codage final</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <span>1 - Transferts</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.tranferts.transfertsValeurs?.spontanement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.tranferts.transfertsValeurs?.habituellement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.tranferts.transfertsValeurs?.totalement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.tranferts.transfertsValeurs?.correctement }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ results.tranferts.transfertsModality }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ results.tranferts.transfertsModality }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <span>3 - Toilettes </span>
    </div>
    <div class="col-sm-2">
      <span> haut</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesHaut?.spontanement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesHaut?.habituellement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesHaut?.totalement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesHaut?.correctement }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ results.toilette.toiletteValeurs.resultHaut }}</span>
    </div>
    <div class="col-sm-2">
      <span></span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <span></span>
    </div>
    <div class="col-sm-2">
      <span>bas</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesBas?.spontanement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesBas?.habituellement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesBas?.totalement }}</span>
    </div>
    <div class="col-sm-1">
      <span>{{ results.toilette.toiletteValeurs.resultAdverbesBas?.correctement }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ results.toilette.toiletteValeurs.resultBas }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ results.toilette.toiletteModality }}</span>
    </div>
  </div>

</div>
